<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!--
        A local reference can be placed on any HTML element using the syntax: #<nameOfReference>. With this, you can
        reference the whole element and its properties. This is an alternative to using two-way databinding via 
        [(ngModel)] on this input element. No property in the component class is needed when we use the local reference.
        We can simply pass the reference to a function in the component class as we do in onAddServer().
      -->
      <input 
        type="text"
        class="form-control"
        #serverNameInput>
      <label>Server Content</label>
      <!--
        a
      -->
      <input
        type="text"
        class="form-control"
        #serverContentInput
        [(ngModel)]="newServerContent">
      <br>
      <div div class="btn-toolbar">
        <!--
            You can use references anywhere in the template, but not anywhere in the TypeScript coded.

            You can even use it as the text to a "paragraph" element:
            <p>serverNameInput.value</p>
        -->
        <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
      </div>
    </div>
  </div>
