<!--
    We remove the loop because this component will represent one server, not a list of servers.
-->
<div
    class="panel panel-default">
    <div
      class="panel-heading"
      #heading>
      {{ name }}
    </div>
    <div class="panel-body">
        <!--
          ng-content is a directive (that uses the element-style selector) which we can use to mark in our component the
          place for Angular to add any content that it finds between the opening and closing tags of the component when 
          we use the component in the component parent. So, this component (ServerElementComponent) would be used in a 
          parent like this:

          <app-server-element>
            ... some content
          </app-server-element>

          and the content would appear where we have put <ng-content></ng-content> below.

          This can be useful if you are making re-usable widgets, like a tab widget, where each tab would have some 
          content that would come from some other source, and which you would not pass through property binding because 
          it would be complex HTML code.
        -->
        <ng-content></ng-content>
    </div>
</div>
