<!--
  As is, this HTML is not broken up into re-usable components. With Angular, we can break it up.

  We could create a new component for the form where we create servers.

  We can create a component for an individual server.

  This will make the app component much leaner, and the business logic will be contained inside of 
  individual components.
-->
<div class="container">
  <!--
    We can pass data from child component to parent component with event binding. The "cockpit" component
    passes event data to the "app" component (this component) via the "serverCreated" event. You can have
    multiple events from a child component.
  -->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!--
        We use property binding to assign the current "serverElement" to the "element" property in the
        "server-element" component.

        The "element" property is exposed via the @input decorator.
      -->
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement">
      </app-server-element>
    </div>
  </div>
</div>
